<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="BlockDotEnv" stopProcessing="true">
          <match url="(^|/)\.env($|\.|/)" ignoreCase="true" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>
        <rule name="NodeJs" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!--
      Disable iisnode logging by default to avoid 500.1002 when the app pool identity
      can't create log files under the site directory.
      Enable logging only after confirming write permissions (or use App_Data).
    -->
    <iisnode devErrorsEnabled="false" loggingEnabled="false" />
  </system.webServer>
</configuration>
